/* إعدادات عامة */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
    background-image: url('image .png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9); /* نصف شفافية للخلفية */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header .logo {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent; /* لإضافة خط تحت الروابط */
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

nav ul li a:hover, 
nav ul li a.active {
    color: #0044cc; /* لون الروابط عند التفعيل أو التمرير فوقها */
    border-bottom: 3px solid #0044cc; /* الخط تحت الرابط النشط */
}

section {
    margin-top: 20px;
}

h2 {
    color: #0044cc;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}